/** Reset all tags **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}


/** Box Model **/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/** Body **/
body {
    background-color: #f1f1f1;
    overflow: overlay;
}


/** Custom Scroll Bar**/
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #121212;
}


/** Responsive Images **/
img {
    width: 100%;
    max-width: 100%;
}


/** Header **/
#header {
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    padding: 1em;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.8);
    z-index: 5;
}
#header > #desktop-header {
    display: block;
}
#header > #desktop-header > #desktop-logo {
    float: left;
}
#header > #desktop-header > #desktop-logo > a {
    color: white;
}
#header > #desktop-header > nav {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#header > #desktop-header > nav > a {
    color: white;
    padding-left: 1em;
}
#header > #desktop-header > nav > a:hover,
#header > #desktop-header > nav > a.active-view {
    color: #2196F3;
}
#header > #mobile-header {
    display: none;
}
#header > #mobile-header > #mobile-logo {
    float: left;
}
#header > #mobile-header > #mobile-logo > a {
    color: white;
}
#header > #mobile-header > #hamburger-button {
    float: right;
    color: white;
    font-weight: bolder;
    transform: rotate(90deg);
    cursor: pointer;
}
#header > #mobile-header > #mobile-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header > #mobile-header > #mobile-menu > #close-mobile-menu-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: 1.5em;
    line-height: 0.5;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
}
#header > #mobile-header > #mobile-menu > nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#header > #mobile-header > #mobile-menu > nav > a {
    color: white;
    font-size: 1.5em;
    padding-bottom: 1em;
}
@media (max-width: 800px) {
    #header > #desktop-header {
        display: none;
    }
    #header > #mobile-header {
        display: block;
    }
}


/** Footer **/
#footer {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    background: #090909;
    color: #f1f1f1;
}
#footer.banner-visible {
    padding-bottom: 3.5em;
}
@media (max-width: 800px) {
    #footer.banner-visible {
        padding-bottom: 5.5em;
    }
}


/** Animations **/
.fade-scroll-down {
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation:    fade_move_down 4s ease-in-out infinite;
    animation:         fade_move_down 4s ease-in-out infinite;
}
@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,0) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,20px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,0) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,20px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
    0%   { transform:translate(0,0) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,20px) rotate(45deg); opacity: 0; }
}