/** Label **/
label {
    display: block;
    margin-bottom: 0.2em;
}


/** Text Input **/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: solid 1px #000;
    color: #121212;
    display: block;
    outline: 0;
    padding: 0.5em;
    text-decoration: none;
    width: 100%;
    margin-bottom: 0.5em;
    resize: none;
}


/** Checkbox and Radio Button **/
input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 200;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    border-radius: 4px;
    border: 1px solid #000;
    content: '';
    display: inline-block;
    height: 1.65em;
    left: 0;
    line-height: 1.58125em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.65em;
    color: #F99D2E;
}
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    content: '✔';
}
input[type="checkbox"] + label:before {
    border-radius: 4px;
}
input[type="radio"] + label:before {
    border-radius: 100%;
}


/** Button **/
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    cursor: pointer;
    display: inline-block;
    padding: 0.7em 2em;
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    background-color: #090909;
    color: #f1f1f1;

}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    color: gray;
}