/** Reset all tags **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
    scroll-behavior: smooth;
}


/** Box Model **/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/** Body **/
body {
    background-color: #f1f1f1;
}


/** Responsive Images **/
img {
    width: 100%;
    max-width: 100%;
}


/** Font Awesome Icons **/
.fab, .fas {
    font-size: 1.5em;
    padding: 0.1em;
}
.fa-app-store {
    color: #1da0f8;
}
.fa-google-play {
    color: #4082EE;
}
.fa-globe {
    color: #4082EE;
}
.fa-linkedin {
    color: #0e76a8;
}
.fa-twitter {
    color: #1da1f2;
}
.fa-facebook {
    color: #3b5998;
}
.fa-instagram {
    color: white;
    background: radial-gradient(circle at 38% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    padding: 0.1em 0.15em;
    border-radius: 8px;
}
.fa-github {
    color: #313030;
}
.fa-gitlab {
    color: #f59f25;
}


/** Header **/
#header {
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    padding: 1em;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.8);
    z-index: 5;
}
#header > #desktop-header {
    display: block;
}
#header > #desktop-header > #desktop-logo {
    float: left;
}
#header > #desktop-header > #desktop-logo > a {
    color: white;
}
#header > #desktop-header > nav {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#header > #desktop-header > nav > a {
    color: white;
    padding-left: 1em;
}
#header > #desktop-header > nav > a:hover,
#header > #desktop-header > nav > a.active-view {
    color: #2196F3;
}
#header > #mobile-header {
    display: none;
}
#header > #mobile-header > #mobile-logo {
    float: left;
}
#header > #mobile-header > #mobile-logo > a {
    color: white;
}
#header > #mobile-header > #hamburger-button {
    float: right;
    color: white;
    font-weight: bolder;
    transform: rotate(90deg);
    cursor: pointer;
}
#header > #mobile-header > #mobile-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header > #mobile-header > #mobile-menu > #close-mobile-menu-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: 1.5em;
    line-height: 0.5;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
}
#header > #mobile-header > #mobile-menu > nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#header > #mobile-header > #mobile-menu > nav > a {
    color: white;
    font-size: 1.5em;
    padding-bottom: 1em;
}
@media (max-width: 800px) {
    #header > #desktop-header {
        display: none;
    }
    #header > #mobile-header {
        display: block;
    }
}


/** Intro **/
#intro {
    background-image: url("../images/technology-785742_1920.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;
}
#intro > #intro-container {
    width: 60%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#intro > #intro-container > #typed-strings {
    display: none;
}
#intro > #intro-container > h1 {
    color: #fff;
    text-align: center;
}
#intro > #intro-container > h2 {
    color: #fff;
    text-align: center;
}
#intro > #intro-container > #discover-button {
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    padding: 0.6em;
}
#intro > #scroll-down-arrow {
    position: absolute;
    left: 50%;
    bottom: 2em;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 2;
    text-decoration: none;
    width: 1.5em;
    height: 1.5em;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    -webkit-transform: rotate(45deg) translate(-50%, 0%);
    -moz-transform: rotate(45deg) translate(-50%, 0%);
    transform:  rotate(45deg) translate(-50%, 0%);
}
@media (max-width: 800px) {
    #intro > #intro-container {
        width: 90%;
    }
}


/** Wrapper **/
#wrapper {
    margin: 0 auto;
    padding: 4em 0 0 0;
}
#wrapper > .container {
    width: 70em;
    max-width: 100%;
    margin: 1em auto;
    padding: 0 2em;
}
#wrapper > .container > .row {
    display: flex;
    flex-direction: row;
}
#wrapper > .container > .row > .col-20 {
    width: 20%;
}
#wrapper > .container > .row > .col-33 {
    width: 33.3333%;
}
#wrapper > .container > .row > .col-30 {
    width: 30%;
}
#wrapper > .container > .row > .col-50 {
    width: 50%;
}
#wrapper > .container > .row > .col-66 {
    width: 66.66666%;
}
#wrapper > .container > .row > .col-70 {
    width: 70%;
}
#wrapper > .container > .row > .col-80 {
    width: 80%;
}
#wrapper > .container > .row > .col-100 {
    width: 100%;
}
#wrapper > .container > .row > * {
    margin-left: 1em;
    margin-right: 1em;
}
#wrapper > .container > .row > *:last-child {
    margin-right: 0;
}
#wrapper > .container > .row > *:first-child {
    margin-left: 0;
}
@media screen and (max-width: 1024px) {
    #wrapper {
        padding: 2em 0 0 0;
    }
    #wrapper > .container {
        padding: 0 1em;
    }
}
@media screen and (max-width: 800px) {
    #wrapper > .container > .row {
        flex-direction: column;
    }
    #wrapper > .container > .row.reverse-mobile {
        flex-direction: column-reverse;
    }
    #wrapper > .container > .row > .col-20,
    #wrapper > .container > .row > .col-30,
    #wrapper > .container > .row > .col-33,
    #wrapper > .container > .row > .col-50,
    #wrapper > .container > .row > .col-66,
    #wrapper > .container > .row > .col-70,
    #wrapper > .container > .row > .col-80,
    #wrapper > .container > .row > .col-100 {
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;
    }
}


/** About **/
#about {

}
#about #info {
    display: flex;
    flex-direction: row;
}
#about #info > #avatar-container {
    width: 33.33%;
    margin-right: 0.5em;
    text-align: center;
}
#about #info > #basic-info {
    width: 66.66%;
    margin-left: 0.5em;
}
#about #bio {

}
#about #skills {
    display: flex;
    flex-direction: column;
}
#about #skills > .skill {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    color: white;
    line-height: 30px;
}
#about #skills > .skill > .skill-name {
    margin-bottom: 0.5em;
    background-color: #0059a0;
    width: 20%;
    padding-left: 0.5em;
}
#about #skills > .skill > .skill-bar {
    text-align: right;
    height: 30px;
    width: 80%;
    margin-bottom: 0.5em;
    background-color: #cde1f8;
}
#about #skills > .skill > .skill-bar > .skill-bar-progress {
    height: 30px;
    padding-right: 0.5em;
    background-color: #2196F3;
}
#about #skills > .skill > .skill-bar > .skill-bar-progress.nodejs {
    width: 80%;
}
#about #skills > .skill > .skill-bar > .skill-bar-progress.php {
    width: 70%;
}
#about #skills > .skill > .skill-bar > .skill-bar-progress.android {
    width: 60%;
}
@media (max-width: 800px) {
    #about #bio {
        margin-bottom: 1em;
    }
}
@media (max-width: 420px) {
    #about #info {
        flex-direction: column;
    }
    #about #info > #avatar-container {
        width: 100%;
        margin-right: 0;
    }
    #about #info > #basic-info {
        width: 100%;
        margin-left: 0;
    }
}


/** Career **/
#career {

}
#career .formation {
    background: gray;
    margin-bottom: 1em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    border-radius: 5px;
}
#career .formation > .formation-icon {
    width: 10%;
    align-self: center;
    text-align: center;
    font-size: 2.5em;
}
#career .formation > .formation-info {
    width: 80%;
    text-align: left;
}
#career .formation > .formation-logo {
    width: 10%;
    align-self: center;
    text-align: center;
}
@media (max-width: 800px) {
    #career .formation > .formation-icon {
        width: 50%;
        order: 0;
    }
    #career .formation > .formation-info {
        width: 100%;
        order: 2;
        text-align: center;
    }
    #career .formation > .formation-logo {
        width: 50%;
        order: 1;
    }
    #career .formation > .formation-logo > img{
        max-width: 4.5em;
    }
}


/** Projects **/
#projects {

}
#projects .card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 2em;
    padding-bottom: 1em;
    background: #fff;
}
#projects .card > .card-image {
    border-radius: 5px 5px 0 0;
    height: 200px;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
}
#projects .card > .card-title {
    padding-left: 1em;
    padding-right: 1em;
}
#projects .card > .card-description {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 0.5em;
}
#projects .card > .card-social-links {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#projects .card > .card-social-links > a {
    margin-right: 1em;
    font-size: 2em;
    position: relative;
}
#projects .card > .card-social-links > a:last-child {
    margin-right: 0;
}
#projects .card > .card-social-links > a .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 0.3em;
    line-height: 1;

    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    padding: 5px 0;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}
#projects .card > .card-social-links > a .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}
#projects .card > .card-social-links > a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


/** Contact **/
#contact .card {
    border-radius: 5px;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: #fff;
}
#contact .card #contact-form {
    display: flex;
    flex-direction: column;
}
#contact .card #contact-form > #contact-form-title{
    margin-top: 0;
    margin-bottom: 0.5em;
}
#contact .card #contact-info,
#contact .card #social-info {
    display: flex;
    flex-direction: column;
}
#contact .card #contact-info > h3,
#contact .card #social-info > h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}
#contact .card #contact-info > #info-list{
    margin-bottom: 0.7em;
}
#contact .card #contact-info > #info-list,
#contact .card #social-info > #social-list {
    list-style: none;
}
#contact .card #contact-info > #info-list > li,
#contact .card #social-info > #social-list > li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.25em;
}
#contact .card #contact-info > #info-list > li > .list-item-icon,
#contact .card #social-info > #social-list > li > .list-item-icon {
    margin-right: 0.5em;
}
@media (max-width: 800px) {
    #contact .card #contact-form {
        margin-bottom: 0.7em;
    }
}


/** Footer **/
#footer {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    background: #090909;
    color: #f1f1f1;
}